body {
  font-family: Arial, sans-serif;
  padding: 20px;
  
}

h1 {  
  color: #2c3e50;
  margin-bottom: 20px;
}

.inline-box {
  display: inline;
  background-color: lightblue;
  padding: 10px; /* Won't apply due to inline */
  /* height: 20px;
  width: 30px; */
  border: 1px solid blue;
}

.block-box {
  display: block;
  background-color: lightgreen;
  padding: 10px;
  /* height: 20 px;
  width: 30px; */
  border: 1px solid green;
  margin-top: 10px;
}

.inline-block-box {
  display: inline-block;
  background-color: lightcoral;
  height: 100 px;
  width: 50px;
  padding: 100px;
  border: 1px solid red;
  margin-top: 10px;
}

.none-box {
  visibility: hidden;
  
  /* display: none; */
 
  background-color: gray;
  padding: 10px;
  border: 1px solid black;
  margin-top: 10px;
}
